<a href="https://colab.research.google.com/github/hoon2hooni/code_practice/blob/master/nlp_practice49%2C51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sentence_bow = {}
sentence = """ Thomas Jefferson began building Monticello at the age of 26."""
for token in sentence.split():
    sentence_bow[token] = 1
sorted(sentence_bow.items())

[('26.', 1),
 ('Jefferson', 1),
 ('Monticello', 1),
 ('Thomas', 1),
 ('age', 1),
 ('at', 1),
 ('began', 1),
 ('building', 1),
 ('of', 1),
 ('the', 1)]

In [2]:
import pandas as pd
df = pd.DataFrame(pd.Series(dict([(token, 1) for token in sentence.split()])), columns =['sent']).T # Transpose 해준거 센스다

In [6]:
sentences = """Sometimes to understand a word's meaning you need more than a definition.\n"""
sentences +="""At YourDictionary we try to give you all of the tools\n"""
sentences +="""you need to really understand what the word means.\n"""
sentences +="""Seeing the word in a sentence can provide more context and relevance."""

print(sentences)

Sometimes to understand a word's meaning you need more than a definition.
At YourDictionary we try to give you all of the tools
you need to really understand what the word means.
Seeing the word in a sentence can provide more context and relevance.

In [9]:
corpus = {}
for i,sent in enumerate(sentences.split('\n')):
    corpus['sent{}'.format(i)] = dict((tok, 1) for tok in sent.split()) #dict((mapping!!))

print(corpus)
df = pd.DataFrame.from_records(corpus).fillna(0).astype(int).T
df[df.columns[:100]]

{'sent0': {'Sometimes': 1, 'to': 1, 'understand': 1, 'a': 1, "word's": 1, 'meaning': 1, 'you': 1, 'need': 1, 'more': 1, 'than': 1, 'definition.': 1}, 'sent1': {'At': 1, 'YourDictionary': 1, 'we': 1, 'try': 1, 'to': 1, 'give': 1, 'you': 1, 'all': 1, 'of': 1, 'the': 1, 'tools': 1}, 'sent2': {'you': 1, 'need': 1, 'to': 1, 'really': 1, 'understand': 1, 'what': 1, 'the': 1, 'word': 1, 'means.': 1}, 'sent3': {'Seeing': 1, 'the': 1, 'word': 1, 'in': 1, 'a': 1, 'sentence': 1, 'can': 1, 'provide': 1, 'more': 1, 'context': 1, 'and': 1, 'relevance.': 1}}

       Sometimes  to  understand  a  ...  provide  context  and  relevance.
sent0          1   1           1  1  ...        0        0    0           0
sent1          0   1           0  0  ...        0        0    0           0
sent2          0   1           1  0  ...        0        0    0           0
sent3          0   0           0  1  ...        1        1    1           1

[4 rows x 32 columns]